
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjust the gap between cards */
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
  overflow-x: hidden;
}

.image-world-card {
  flex: 0 0 calc(10% - 20px); /* Adjust card width to fit 10 cards per row */
  padding-left: 5px;

 
}

/* Additional styling for the image inside the card */
.image-world-card img {
  width: 100%;
  height: auto;
  /* Other necessary styles */
}
